/* your css code goes here */
.day_wrap { width: 14%; display: inline-block; outline: 1px solid #eee; background-color: white; height: 180px; padding-left: 10px; padding-top: 10px; }
.nav_wrap { width: 100%; background-color: #666; color: white;}